<!DOCTYPE html>
<html ng-app="CubeCalendar">

<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Vlad Manole"/>
    <style>
        @import 'https://fonts.googleapis.com/css?family=Roboto';
    </style>
    <script data-require="angular.js@*" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular.js"></script>

    <link rel="stylesheet" href="style.css"/>
    <script src="script.js"></script>
    <title> Cube Calendar </title>
</head>

<body ng-controller="MainController" ng-keydown="keyPress($event.keyCode)">

<h1 style="text-align:center"> Calendar Cube!</h1>
<h3 style="text-align:center">Use the arrow keys to navigate the cube - The four lateral faces are the next 4 events
    chronologically ordered</h3>
<h3 style="text-align:center"> Use the "Calendar app" face to add new events and the Fourth Upcoming Event face to
    view/edit/delete events </h3>

<div id="camera">
    <div id="cube">
        <div style="background-color: #607D8B" class="face one">
            Calendar App
            <br/>
            Add a new event
            <br/>
            <div class="submitEvents">
                <form id="calendarInput">
                    <input class="notRotate" id="eventTime" name="eventPicker" type="datetime-local"
                           ng-model="userTime"/>
                    <input class="notRotate" id="eventTitle" type="text" placeholder="Event Title"
                           ng-model="userTitle"/>
                    <textarea class="notRotate" name="txt1" draggable="false" cols="40" rows="10" maxlength="450"
                              ng-model="userText" placeholder="Describe the event or make some notes."></textarea>
                    <input id="eventSubmit" name="Save Event" type="submit"
                           ng-click="saveEvent(event)"/> <!-- button for saving event-->
                </form>
            </div>
            Number of saved events: {{countTotal}}
        </div>
        <div style="background-color: #009ECE" class="face two">
            First Upcoming Event<br/>
            {{userTitle1}}
            {{userTime1}}
            {{userText1}}

        </div>
        <div style="background-color: #009ECE" class="face three">
            Second Upcoming Event<br/>
            {{userTitle2}}
            {{userTime2}}
            {{userText2}}
        </div>
        <div style=" background-color: #009ECE" class="face four">
            Third Upcoming Event<br/>
            {{userTitle3}}
            {{userTime3}}
            {{userText3}}

        </div>
        <div style="background-color: #009ECE" class="face five">
            <p style="font-size:20px"> Fourth Upcoming Event</p><br/>
            {{userTitle4}}

            <button class="btn1" ng-click="nextEvent()">Next Event</button>
            <button class="btn2" ng-click="prevEvent()">Previous Event</button>
            <button class="btn3" ng-click="removeEvent()">Remove Event</button>

            <button class="btn4" ng-click="clearAll()">Clear Everything</button>

        </div>
        <div style="background-color: lightgrey" class="face six">
            Made by <a href="https://github.com/user/vladdmanole">Vlad Manole</a>
            vladdmanole@gmail.com
        </div>
    </div>
</div>

</body>

</html>
