html {
    font-family: Roboto;
    overflow: hidden;
    background-color: #f3f3f3
}

textarea:focus {
    background-color: lightcoral;
}

textarea {
    resize: none;
    overflow: hidden;

}

.buttons {
    list-style-type: none;
    bottom: 0;
    padding: 0;
    margin-top: 70%;
    margin-left: 13%;
}

.buttons li {
    float: left;
    width: 20%;
}

.btn {

}

#camera {
    perspective: 550px;
    perspective-origin: 50% 200px;
}

#cube {
    position: relative;
    margin: 150px auto;
    height: 400px;
    width: 400px;

    transition: transform 2s linear;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    height: 360px;
    width: 360px;
    padding: 20px;
    text-shadow: -1px -1px 0 #000000, /* TEXT STROKE HACK */ 1px -1px 0 #000000, /* TEXT STROKE HACK */ -1px 1px 0 #000000, /* TEXT STROKE HACK */ 1px 1px 0 #000000; /* TEXT STROKE HACK */
    font-size: 10px;
    text-align: center;
    line-height: 1.25em;
    color: #ffa500;
    border: 1px solid #555;
    border-radius: 2px;
}

#cube .one {

    transform: rotateX(90deg) translateZ(200px);
}

#cube .two {

    transform: translateZ(200px);
}

#cube .three {

    transform: rotateY(90deg) translateZ(200px);
}

#cube .four {

    transform: rotateY(180deg) translateZ(200px);
}

#cube .five {

    transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {

    transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}