html {
  font-family: Roboto;
}


#camera {
    perspective: 550px;
    perspective-origin: 50% 200px;
}

#cube {
  position: relative;
  margin: 250px auto;
  height: 400px;
  width: 400px;
  
  transition: transform 2s linear;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  
  font-size: 15px;
  text-align: center;
  line-height: 1.25em;
  color: white;
  border: 1px solid #555;
  border-radius: 3px;
}

#cube .one  {
  
  transform: rotateX(90deg) translateZ(200px);
}

#cube .two {
  
  transform: translateZ(200px);
}

#cube .three {
 

  transform: rotateY(90deg) translateZ(200px);
}

#cube .four {
 

  transform: rotateY(180deg) translateZ(200px);
}

#cube .five {
  
  transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {
  
  transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}